<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{titulo}} |
    <small>{{small}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{path('tiempo_admin_dashboard')}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="{{ruta}}">{{titulo}}</a></li>
    <li class="active">{{small}}</li>
  </ol>
</section>
